/*
SCRIPT COLOURS

28a745 = Fleeca Green
DC143C = QBCORE Red
444444ee = DEFAULT BACKGROUND
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@300;400;500&display=swap');
/* CATCH ALL FOR ALL DIVS */
* {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
/* BODY CONTAIN*/

.boldbutton {
    font-weight: bolder;
}

body {
    background: transparent !important;
}

#logo {
    height: 200px;
    width: 250px;
}

/* Main UI Container */
#bankingContainer {
    margin-top: 5vh;
    margin-bottom: 5vh;
    /* background: #444444ee !important; */
    background: #444444af;
    background-image: linear-gradient(120deg, #3a3a3a 0%, #96e6a13a 100%);
    border-radius: 20px;
    height: 90vh;
    display: none;
}

/*
#bankingContainer:hover {
    background: rgba(150, 149, 149, 0.5) !important;
}
*/

/* RIGHT HAND SIDE CONTAINERS */
#v-pills-tabContent {
    position: relative;
}

/* ALL RIGHT HAND SIDE SUB-BOXES */
#bankingHome, #bankingWithdraw, #bankingDeposit, #bankingTransfer, #bankingStatement, #bankingSavings, #bankingActions{
    position: relative;
    top: 10px;
}

#ATMContainer {
    background: rgba(0, 0, 0, 0.8) !important;
    border-radius: 20px;
    min-height: 800px;
    max-height: 800px;
    display: none;
    border: 2px solid rgb(255, 31, 31);
}

.statement:hover {
    background: rgba(150, 149, 149, 0.5) !important;
}

#v-pills-tabContent,
#v-pills-tabContent-atm {
    overflow-y: scroll;
    min-height: 100%;
}

#v-pills-tabContent::-webkit-scrollbar-track,
#v-pills-tabContent-atm::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
}

#v-pills-tabContent::-webkit-scrollbar-thumb,
#v-pills-tabContent-atm::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: none;
}

#v-pills-tabContent::-webkit-scrollbar,
#v-pills-tabContent-atm::-webkit-scrollbar {
    width: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: transparent
}

/* Page Title - Little Line left of text */
.title {
    color: white;
    margin-bottom: 15px;
    font-weight: bolder;
    border-left: 2px solid #28a745;
}

.content {
    color: white;
    font-size: 20px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: rgb(255, 255, 255);
    background-color: #28a745;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: #28a745;
    border-color: transparent;
}

.btn-primary:hover {
    color: rgb(255, 255, 255);
    background-color: #0f411b;
    border-color: rgb(84, 91, 98);
}

.btn-secondary {
    color: rgb(255, 255, 255);
    background-color: #259940;
}

.btn-secondary:hover {
    color: rgb(255, 255, 255);
    background-color: #0f411b;
    border-color: rgb(84, 91, 98);
}

.btn-third {
    color: rgb(255, 255, 255);
    background-color: #228f3c;
    border-color: transparent;
}

.btn-third:hover {
    color: rgb(255, 255, 255);
    background-color: #0f411b;
    border-color: rgb(84, 91, 98);
}

.small,
small {
    font-size: 95%;
    font-weight: bolder;
}

#savingsBalance {
    color: #28a745;
}

.avatar {
	border-radius: 50%;
	width: 80px;
	margin-left: 10px;
}

.showcardTypeimagecontainer {
    font-weight: bold;
}

#cardNumberShow {
    padding: 110px 0px 0px 36px; 
    font-family: Arial;
    font-size: 20px; 
    font-weight:100;
    color: rgb(255, 255, 255); 
    letter-spacing: 3px;
    background-color: #666666;
    text-shadow: 1px 4px 4px #555;
    text-align: left;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#cardName {
    padding: 30px 0px 0px 36px; 
    font-family: Arial;
    font-size: 16px; 
    font-weight: 100;
    color: rgb(255, 255, 255); 
    letter-spacing: 0px;
}
#cardName2 {
    padding: 112px 0px 0px 40px; 
    font-family: Dancing Script;
    font-size: 16px; 
    font-weight: bold;
    color: rgb(0, 0, 0); 
    letter-spacing: 3px;
}

.showcardTypeimageMastercardBack {
    background-image: url("images/Shino-Bankcard-Back-Mastercard.png");
    background-size: contain;
    background-position: center;
    height: 224px;
    width: 350px;
}

.showcardTypeimageVisaBack {
    background-image: url("images/Shino-Bankcard-Back-Visa.png");
    background-size: contain;
    background-position: center;
    height: 224px;
    width: 350px;
}

.showcardTypeimageMastercardFront {
    background-image: url("images/Shino-Bankcard-Front-Mastercard.png");
    background-size: contain;
    background-position: center;
    height: 224px;
    width: 350px;
}

.showcardTypeimageVisaFront {
    background-image: url("images/Shino-Bankcard-Front-Visa.png");
    background-size: contain;
    background-position: center;
    height: 224px;
    width: 350px;
}

.card-header{
    font-weight: bolder;
    font-size: 18px;
}

.card-header-right{
    height: 100px;
}

.card-body-right{
    height: 100px;
    background-color: #a77028;
}

.card-footer-right{
    height: 50px;
}